.listbtn {
  transition: 0.25s ease-in-out all;
  background: transparent;
  border: 1px solid #198754;
  width: 100%;
  color: white;
  height: 40px;
  border-radius: 5px;
}
.listbtn:hover {
  color: white;
  background: #198754;
  box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 15%);
}

.ddm {
  width: 100%;
  border-radius: 10px;
  background: rgba(33, 37, 41, 1);
}
